<p>
  <%= link_to 'Português', root_path(locale: 'pt-BR') %>
</p>

<p>
  <%= link_to 'English', '/?locale=en' %>
</p>

<h1><%= t('greeting') %>!</h1>
<p><%= I18n.l(Date.today) %></p>

<li>
  <%= link_to t('coins'), coins_path %>
</li>

<li>
  <%= link_to t('mining_types'), mining_types_path %>
</li>