<div class='p-5'>
  <h1><%= t('links.edit') %> <%= t('coin') %></h1>

  <%= render 'form', coin: @coin %>

  <%= link_to t('links.show'), @coin, class:'btn btn-dark btn-sm' %>
  <%= link_to t('links.back'), coins_path, class:'btn btn-dark btn-sm' %>
</div>